<section id="tsp_login_page" class="tsp-page-tpl">
  <div class="container">
      <div class="row">
          <div class="tsp-box-content tsp-page-acc">
            <div class="tsp-form-login col-md-6 col-sm-6 col-xs-6 tsp-full-xs tsp-no-padding-left">
                <div class="col-lg-offset-1 col-md-offset-1">
                    <h2>Create Your TravelBuddy Profile:</h2>
                    <%= form_tag "/profiles", method: :post, multipart: true, class: "tsp-form-site" do %>
                    <label>
                    Choose Profile Pic:
                    <input type="file" name="profile_pic" class="button tsp-btn-site file-height">
                    </label>      
                      <div class="form-group">
                        <input type="text" name="age" value="<%= @profile.age %>" placeholder="Age">
                      </div>
                      <div class="form-group">
                        <input type="text" name="location" value="<%= @profile.location %>" placeholder="Location(City, State, Country)">
                      </div>
                      <div class="form-group">
                        <textarea name="bio" placeholder="Tell other users about yourself"><%= @profile.bio %></textarea>
                      </div>
                      <button type="submit" class="tsp-btn-site">Create Profile</button>
                    <% end %>
                </div>
            </div>
            <div class="col-md-6"><img class="profile-new" src="/assets/blog/blog-sidebar-1.jpg">
            </div>
          </div>
      </div>
  </div>
</section>