<h1>Please Log Into Your TravelBuddy Account:</h1>
<%= form_tag "/login", method: :post do %>
  <div>
    User Name:
    <input type="text" name="user_name">
  </div>

  <div>
    Password:
    <input type="password" name="password">
  </div>

  <input type="submit" value="Log In">
<% end %>