<section id="tsp_login_page" class="tsp-page-tpl">
  <div class="container">
      <div class="row">
          <div class="tsp-box-content tsp-page-acc">
              <div class="tsp-nav-register col-md-6 col-sm-6 col-xs-6 tsp-full-xs tsp-no-padding-left">
                  <div class="col-lg-offset-right-1 col-md-offset-right-1 col-sm-offset-right-0 col-xs-offset-right-0 tsp-content">
                      <h2>New customer</h2>
                      <p class="white-text">Join TravelBuddy and get connected with other travelers now!</p>
                      <a href="/signup" class="tsp-btn-site visited-white">Sign Up Now</a>
                  </div>
              </div>
              <div class="tsp-form-login col-md-6 col-sm-6 col-xs-6 tsp-full-xs tsp-no-padding-right">
                  <div class="col-lg-offset-1 col-md-offset-1">
                      <h2>Return customer</h2>
                      <p class="white-text">I am a returning customer</p>
                        <%= form_tag "/login", method: :post, class: "tsp-form-site" do %>
                          <div class="form-group">
                              <input type="text" name="user_name" placeholder="Username">
                          </div>
                          <div class="form-group">
                              <input type="password" name="password" placeholder="Password">
                          </div>
                          <button type="submit" class="tsp-btn-site">Login Now</button>
                        <% end %>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>