/*------------------------------------------------------------------
[ Info box]
-------------------------------------------------------------------*/
#tsp_info_box {
  padding: 88px 0 50px 0;
}
.info-box-item {
  text-align: center;
}
.info-box-item:hover .info-box-icon {
  color: #ffc107;
  webkit-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.info-box-item .info-box-icon {
  font-size: 48px;
  webkit-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.info-box-item h3 {
  font-size: 20px;
  color: #333333;
  font-family: 'Patua One', cursive;
  font-weight: 300;
  margin-bottom: 25px;
}
.info-box-item p {
  font-size: 14px;
  color: #333333;
}
