<section id="tsp_slider">
    <div id="tsp_slider_main" class="carousel slide">
        <!-- Dots slider -->
        <div class="tsp-slider-dots hidden-xs hidden-sm">
            <div class="container">
                <div class="row">
                    <ol class="carousel-indicators">
                        <li data-target="#tsp_slider_main" data-slide-to="0" class="active"></li>
                        <li data-target="#tsp_slider_main" data-slide-to="1"></li>
                    </ol>
                </div>
                <!-- div row box dots slider -->
            </div>
        </div>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="tsp-slide-zoom">
                    <%= image_tag("slider/slider-1.jpg") %>
                </div>
            </div>
            <div class="item">
                <div class="tsp-slide-zoom">
                    <%= image_tag("slider/slider-2.jpg") %>
                </div>
            </div>
        </div>
        <!-- Nav btn next/prev slider -->
        <div class="tsp-nav-slider hidden-lg">
            <a class="left carousel-control" href="#tsp_slider_main" role="button" data-slide="prev">
                <span><i class="fa fa-angle-left"></i></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#tsp_slider_main" role="button" data-slide="next">
                <span><i class="fa fa-angle-right"></i></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

<section class="tsp-banner-slider">
    <div class="container tsp-no-padding" id="about">
        <div class="row">
            <div class="col-md-5">
                <div class="info-banner">
                    <h6>About</h6>
                    <h3>TravelBuddy</h3>
                    <p>
                        Looking for someone to join you on your next travel adventure?  Looking for someone to meet up with on your next business trip?  You've come to the right place!  Let TravelBuddy connect you with other travelers instead of traveling alone.
                    </p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="item">
                    <%= image_tag("/assets/about/video-about.jpg") %>
                </div>
            </div>
        </div>
    </div>
</section>