<h1>Welcome to TravelBuddy!</h1>

<p>Looking for someone to join you on your next travel adventure?  Looking for someone to meet up with on your next business trip?  You've come to the right place!  Let TravelBuddy connect you with other travelers instead of traveling alone.</p>