// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-edit {
  max-height: 450px;
  max-width: 450px;
  margin-top: 75px;
  margin-left: 50px;
}

input.file-height {
  line-height: 0px;
  padding: 10px 40px;
  width: 60%;
}

.right-align {
  padding-left: 100px;
}

a.khaki-link:visited {
  color: khaki;
}