// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-image {
  max-height: 250px;
}

.profile-new {
  max-height: 100%;
  max-width: 100%;
  margin-top: 55px;
  vertical-align: middle;
}

.unread-messages {
  color: rgb(255, 193, 7);
  font-weight: bold;
}