// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-new {
  max-height: 450px;
  max-width: 450px;
  margin-top: 140px;
  margin-left: 50px;
}

.unread-messages {
  color: rgb(255, 193, 7);
  font-weight: bold;
}

input.file-height {
  line-height: 0px;
  padding: 10px 40px;
  width: 60%;
}