body {
  background: MediumPurple;
  font-family: "Open Sans";
}

.small {
  max-width: 75%;
  height: auto;
}

h1 {
  font-family: "Patua One", cursive;
}

a:visited {
    color: lavender;
}

a:hover {
    color: rgb(255, 193, 7);
}

button, .delete-button {
  background-color: rgb(255, 193, 7);
}

button:hover {
  background-color: transparent;
}

header {
  background: SlateGray;
}