body:hover ul {
    display:block;
}

body {
  background-image: url("/assets/wallpaper_texture.jpg");
  font-family: "Open Sans";
}

.yield {
  min-height: calc(100vh - 501px);
}

.small {
  width: 200px;
  height: auto;
}

h1, h2, h3 {
  font-family: "Patua One", cursive;
}

.link-underline {
  text-decoration: underline;
}

a:link {
  color: Khaki;
}

a.button {
  color: white;
}

a:visited {
    color: rgb(244, 254, 251);
}

a:hover {
    color: rgb(255, 193, 7);
}

.button {
  padding: 15px 20px;
  line-height: 15px;
  font-size: 14px;
}

header {
  background: SlateGray;
}

span, p.white-text, label.white-text {
  color: white;
}

textarea {
  resize: none;
  overflow: hidden;
}

.side-buttons {
    display: flex;
    justify-content: space-between;
}

.pad-right {
  margin-right: 350px;
}

.show-menu {
  text-align: right;
}

.slicknav_nav { 
  position: relative;
  z-index: 100; 
  width: 100%; 
  top: 21px;
}

.slicknav_menu {
  background: SlateGray;
  height: 50px;
  padding: 0;
}

.slicknav_btn {
  height: 2px;
}

.tsp-account {
  padding-bottom: 0px;
  padding-right: 25px;
  position: relative;
  z-index: 900;
}

.tsp-header-main {
  border-top: 0px;
  background: SlateGray;
}


